<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% params.each do |param| %>
   <h2><%= "#{param[0]}: #{param[1]}" %></h2>
   <% end %>
 </body>
</html>
